<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <!--<tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>-->
      <tr> <td>09:30</td>  <td>Preworkshop help available</td> </tr>
      <tr> <td>10:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>11:00</td>  <td>Coffee</td> </tr>
      <tr> <td>11:30</td>  <td>More automation of tasks with the Unix shell</td> </tr>      
      <tr> <td>12:90</td>  <td>Exploring SSH: the "secure shell" tool for connecting to remote computers</td> </tr>      
      <tr> <td>12:30</td>  <td>End/Lunch break</td> </tr>
    </table>
  </div>
</div>
